/* This is the css for  every other page, this includes classes and ids. */

ul {
	overflow: auto;
}

ul li {
	list-style-type: none;
	float: left;
}

ul li a i {
	background: #205D7A;
	color: #fff;
	width: 30px;
	height: 30px;
	border-radius: 25px;
	font-size: 18px;
	text-align: center;
	margin-right: 10px;
	padding-top: 15%;
}
.fa-facebook {
	background:#3b5998
}
.fa-youtube {
	background:#dd4b39;
}
.fa-twitter {
	background:#00aced
}
.fa-instagram {
	background:black;
}

.fa-spotify{
    background: #2ec54d;
}
ul li a i {
	transition: all 0.2s ease-in-out;
}
ul li a i:hover {
	opacity: .7;
}

@font-face {
    font-family: Brownhill; src: url('Brownhill Script.otf');

}

@font-face {
        font-family: Moon; src: url('Moon Light.otf');

}

@font-face {
        font-family: Moon-Bold; src: url('Moon Bold.otf');

}


.carousel-slider {
    height: 400px !important;
}
.spotifywid {
    padding: 10px;

}

#title_page{

    margin-left: 100px;
    font-family: Brownhill;
    font-size: 60px;
}

.youtubevideowrap{
    width:80%;
    max-width:640px;
}

#nav-mobile{
        font-family: Moon-Bold;

    background: transparent;
    font-size: 35px;
    max-font-size: 35px;}


#side-nav{
        background: transparent;

    font-size: 35px;
    max-font-size: 35px;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: black;
  }
main {
    flex: 1 0 auto;
     }

.nav-wrapper{
 background-image: url("https://78.media.tumblr.com/e3ae6b037d5c2e10d9d68d0f42c50463/tumblr_od4gkaohLJ1vd5g8io1_1280.jpg");


}
#sidenav-overlay{

    background: transparent;



}


.page-footer{
background-image: url("https://78.media.tumblr.com/e3ae6b037d5c2e10d9d68d0f42c50463/tumblr_od4gkaohLJ1vd5g8io1_1280.jpg")
}


.parallax{
  position:static;

}



.parallax-container {

      height: 700px;
    }

.picture1{
    margin-left:100px;
    padding: 10cm;
}

.link1{
margin-left: 100px;
    padding: 100px;

}

/*press shift-f5 with the function key on, to refresh the css on the website.

 */