{% extends "base.html" %}
<link rel="stylesheet" type="text/css" href= {{url_for('static', filename="style.css")}}>

{% block content %}
<h2 class="center thin white-text" >Music</h2>

   <link rel="stylesheet" type="text/css" href= {{url_for('static', filename="style.css")}}>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<img src="http://www.dogedesigns.com/coats/pelite_black_small.JPG" width="200" height="20">


    <div id="card-panel-music">
    <div class="row">
         <div class="col s12 m4 l4">
    <div class="card black">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://images.sysapi.mtg.now.com/mposter/album/m/VAUN00281634A_m.jpg">
    </div>
    <div class="card-content black">
      <span class="card-title activator white-text text-lighten-4">Bruised<i class="material-icons right">more_vert</i></span>
      <ul><li><a href="https://www.youtube.com/user/morgxnVEVO" target="_blank"><i class="fa fa-youtube"></i></a></li>
      <li><a href="https://www.youtube.com/user/morgxnVEVO" target="_blank"><i class="fa fa-spotify"></i></a></li>
      </ul>

    </div>
    <div class="card-reveal black">
      <span class="card-title white-text text-lighten-4">Bruised - Links<i class="material-icons right">close</i></span>
      <iframe class="center-block spotifywid" src="https://open.spotify.com/embed/track/0rtR25Q2tK1nXWBnF7Km4g" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    </div>
  </div>
    </div>

        <div class="col s12 m4 l4">
    <div class="card black">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://artwork-cdn.7static.com/static/img/sleeveart/00/063/413/0006341379_350.jpg">
    </div>
    <div class="card-content black">
      <span class="card-title activator white-text text-lighten-4">XX<i class="material-icons right">more_vert</i></span>
      <p>  <ul><li><a href="https://www.youtube.com/user/morgxnVEVO" target="_blank"><i class="fa fa-youtube"></i></a></li>
      <li><a href="https://www.youtube.com/user/morgxnVEVO" target="_blank"><i class="fa fa-spotify"></i></a></li>
      </ul>
</p>
    </div>
    <div class="card-reveal black">
      <span class="card-title white-text text-lighten-4">XX - Links<i class="material-icons right">close</i></span>
<iframe class="center-block" src="https://open.spotify.com/embed/track/23K6AtpqzYTCkYpmhos4AD" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    </div>
  </div>
    </div>

        <div class="col s12 m4 l4">
    <div class="card black">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://images.shazam.com/coverart/t337610966-b1185990107_s400.jpg">
    </div>
    <div class="card-content black">
      <span class="card-title activator white-text text-darken-4">Hard pill to swallow<i class="material-icons right">more_vert</i></span>
      <p>  <ul><li><a href="https://www.youtube.com/user/morgxnVEVO" target="_blank"><i class="fa fa-youtube"></i></a></li>
      <li><a href="https://www.youtube.com/user/morgxnVEVO" target="_blank"><i class="fa fa-spotify"></i></a></li>
      </ul>
</p>
    </div>
    <div class="card-reveal black">
      <span class="card-title white-text text-darken-4">Hard pill to swallow - Links<i class="material-icons right">close</i></span>
<iframe class="center-block" src="https://open.spotify.com/embed/track/1nvjoTGljgk3bgh8qx5BmG" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    </div>
  </div>
    </div>
    </div>
       </div>




       <div id="card-panel-music">
    <div class="row">
    <div class="col s12 m4 l4">
    <div class="card black">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://images.sysapi.mtg.now.com/mposter/album/m/VAUN00173900A_m.jpg">
    </div>
    <div class="card-content black">
      <span class="card-title activator white-text text-darken-4">Love You With The Lights On<i class="material-icons right">more_vert</i></span>
      <p>  <ul><li><a href="https://www.youtube.com/user/morgxnVEVO" target="_blank"><i class="fa fa-youtube"></i></a></li>
      <li><a href="https://www.youtube.com/user/morgxnVEVO" target="_blank"><i class="fa fa-spotify"></i></a></li>
      </ul>
</p>
    </div>
    <div class="card-reveal black">
      <span class="card-title white-text text-darken-4">Love You With The Lights On - Links<i class="material-icons right">close</i></span>
<iframe class="center-block" src="https://open.spotify.com/embed/track/359QiaNCZDGfQYR1bOhHJq" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    </div>
  </div>
    </div>
        <div class="col s12 m4 l4">
    <div class="card black">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://i2.wp.com/kjhk.org/web/wp-content/uploads/2017/03/morgxn.jpg?fit=300%2C300">
    </div>
    <div class="card-content black">
      <span class="card-title activator white-text text-darken-4">Home<i class="material-icons right">more_vert</i></span>
      <p>  <ul><li><a href="https://www.youtube.com/user/morgxnVEVO" target="_blank"><i class="fa fa-youtube"></i></a></li>
      <li><a href="https://www.youtube.com/user/morgxnVEVO" target="_blank"><i class="fa fa-spotify"></i></a></li>
      </ul>
</p>
    </div>
    <div class="card-reveal black">
      <span class="card-title white-text text-darken-4">Home - Links<i class="material-icons right">close</i></span>
<iframe class="center-block" src="https://open.spotify.com/embed/track/17jipGOVjGdMtUxQTJ8WQu" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    </div>
  </div>
    </div>
        <div class="col s12 m4 l4">
    <div class="card black">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://is1-ssl.mzstatic.com/image/thumb/Music30/v4/4f/15/e4/4f15e4fb-5020-b2a0-f87c-775f7d62ede5/UMG_cvrart_00050087350871_01_RGB72_1800x1800_16DMGIM07746.jpg/268x0w.jpg">
    </div>
    <div class="card-content black">
      <span class="card-title activator white-text text-darken-4">Notorious<i class="material-icons right">more_vert</i></span>
      <p>  <ul><li><a href="https://www.youtube.com/user/morgxnVEVO" target="_blank"><i class="fa fa-youtube"></i></a></li>
      <li><a href="https://www.youtube.com/user/morgxnVEVO" target="_blank"><i class="fa fa-spotify"></i></a></li>
      </ul>
</p>
    </div>
    <div class="card-reveal black">
      <span class="card-title white-text text-darken-4">Notorious - Links<i class="material-icons right">close</i></span>
<iframe class="center-block" src="https://open.spotify.com/embed/track/48C3o4fJSwbeIJSetLWdlW" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    </div>
  </div>
    </div>
    </div>
       </div>


{% endblock %}


<!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
      <script>
        $(document).ready(function(){
          // Init Slider
          $('.slider').slider();
          $('.parallax').parallax();



        });
      </script>